.homepage-container {
    display: grid;
    grid-template-columns: 250px 1300px;
    grid-template-rows: auto;
    grid-template-areas:
      "left-side center ";
  }
  .left-side{
    float:left;
  }
  .background-color{
    background-color: gray;
  }