.signupLabels{
    color:black;
    font-size:medium;
    margin-left: 5px;
}
.signup .signupContent{
    margin-left: 600px;
    margin-top: 1px;

}
.signup-button {
    margin-top: 20px;
    margin-left: 10px;
  background-color: #ff652f;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  width: auto;
  text-shadow: 0 -1px 0 #c83400;
  border-color: #ff652f;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  box-sizing: content-box;
}

.signup-input {
    border-radius: 3px;
    /*transition:0.4s;*/
    padding: 5px;
    font-family: Oxygen, sans-serif;
    color: #3e3e42;
    height: 35px;
    width: 200px;
}
.signup-intro{
    text-transform: uppercase;
    font-size: 16px;
    
    color: #336ee5;
    font-weight: bold;
    line-height: 20px;
}

.signup{
   /* margin-left: 300px;*/
   background-color:#cccccc;
   height: 800px;
   position: center;
}


