.backgroundColor2{
    background-color: #cccccc;
}
.HeadingInfo{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-style: italic;
}
.BalanceLabel1{
    font-size: 20px;
    margin-left: 150px;
}
.alignBal{
    margin-left:207px;
    margin-top: 80px;
}




.q1{
    box-shadow: 0 0 18px -2px black;
    border-radius: 10px;
    color:white;
    height: 110px;
    width: 130px;
  }
  .memory{
    background-image:linear-gradient(red, purple);
    font-size: 15px;
  }
   .cpu{
    background-image:linear-gradient(#2EEC10, #1085EC);
    font-size: 15px;
  }
  
  .grid-container-design {
    display: grid;
    grid-template-columns: 180px 350px 180px 180px;
    grid-template-rows: auto;
    /* grid-template-areas:
      "memory cpu thresholdMemory thresholdCPU"
      "memory cpu thresholdMemory thresholdCPU"
      "memory cpu thresholdMemory thresholdCPU" ; */
  }





  

