.backgroundColor2{
    background-color: #cccccc;
}
.HeadingInfo{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-style: italic;
}
.BalanceLabel1{
    font-size: 20px;
    margin-left: 150px;
}
.alignBal{
    margin-left:207px;
    margin-top: 80px;
}