.backgroundColor2{
    background-color: #cccccc;
}
.HeadingInfo{
    font-size: 30px;
    margin-left: 130px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-style: italic;
}
.BalanceLabel1{
    font-size: 23px;
    margin-left: 105px;
}
.alignBal{
    margin-left:267px;
    margin-top: 80px;
}